<!DOCTYPE html>
<html>
<head>
    <title>基因查询</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/app.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <style>
        .align-center {
            line-height: 34px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="wrapper" id="rrapp" v-cloak>
    <div class="content-wrapper" style="margin-left: 0;">
        <section class="content">
            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">患者临床信息栏</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>报告编号</th>
                                    <th>姓名</th>
                                    <th>与先证者关系</th>
                                    <th>疾病状态</th>
                                    <th>测序质量</th>
                                    <th>测序深度</th>
                                    <th>产品</th>
                                    <th>携带筛查</th>
                                    <th>报告类型</th>
                                    <th>送检医生</th>
                                    <th>患者信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{sickInfo.reportCode}}</td>
                                    <td>{{sickInfo.sickName}}</td>
                                    <td><span class="label label-success">{{sickInfo.relation}}</span></td>
                                    <td>{{sickInfo.isDisease}}</td>
                                    <td>{{sickInfo.seqQuality}}</td>
                                    <td>{{sickInfo.seqDepth}}</td>
                                    <td>{{sickInfo.productName}}</td>
                                    <td>{{sickInfo.isCarry}}</td>
                                    <td>{{sickInfo.reportType}}</td>
                                    <td>admin</td>
                                    <td><a href="javascript:;">查看</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-left">
                        <li class="active"><a href="#panel-select" data-toggle="tab">Panel筛选</a></li>
                        <li><a href="#hpo-select" data-toggle="tab">HPO表型筛选</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="chart tab-pane active" id="panel-select" style="position: relative; height: 300px;">1111</div>
                        <div class="chart tab-pane" id="hpo-select" style="position: relative; height: 300px;">222</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-left">
                        <li class="active"><a href="#custom-select" data-toggle="tab">自定义参数筛选</a></li>
                    </ul>
                    <div class="tab-content no-padding">
                        <div class="chart tab-pane active" id="custom-select" style="position: relative; height: 300px;">
                            <div class="row box-body">
                                <div class="col-md-3">
                                    <h4 style="font-size:15px ">人群携带率设定:</h4>
                                    <div>
                                        <div class="form-group">
                                            <div class="col-sm-6 control-label align-center">EXAC_ALL（60700）:</div>
                                            <div class="col-sm-6 input-group">
                                                <input type="text" v-model="q.exacAll" class="form-control" @change="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 control-label align-center">千人基因组（1000g）:</div>
                                            <div class="col-sm-6 input-group">
                                                <input type="text" v-model="q.a1000gAll" class="form-control" @change="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 control-label align-center">EXAC 亚洲人数据库：</div>
                                            <div class="col-sm-6 input-group">
                                                <input type="text" v-model="q.exacEas" class="form-control" @change="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-6 control-label align-center">POPFREQMAX ：</div>
                                            <div class="col-sm-6 input-group">
                                                <input type="text" v-model="q.popfreqmax" class="form-control" @change="if(/\D/.test(this.value)){alert('只能输入数字');this.value='';}">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right" @click="query">立即查询</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">SNP/indel突变位点：
                            <small>{{totalCount}}/{{noConditionCount}}(筛选/全部)</small>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">可疑外显子拷贝数变异: 0/19(筛选/全部)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">染色体大片段CNV: </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">基因分型:</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">已选中SNP位点:</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">备注</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        批注：未知
                    </div>
                    <div class="box-footer">
                        报告当前状态：未知
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="../../js/modules/docker/gene_search.js"></script>
</body>
</html>