<!DOCTYPE html>
<html>
<head>
    <title>OSS文件管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../plugins/treegrid/jquery.treegrid.css">

    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/bootstrap-table.min.js"></script>
    <script src="../../plugins/treegrid/jquery.treegrid.min.js"></script>
    <script src="../../plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
    <script src="../../plugins/treegrid/jquery.treegrid.extension.js"></script>
    <script src="../../plugins/treegrid/tree.table.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <style>
        .sr-only {
            position: relative;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div>
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" style="cursor:pointer;" v-model="q.sickName" @click="selectSick"
                       placeholder="请选择病人" readonly="readonly">
                <input type="hidden" v-model="q.sickId">
            </div>
            <a class="btn btn-primary" @click="trigger"><i class="fa fa-pencil-square-o"></i>&nbsp;一键入库</a>
        </div>
        <table id="fileTable" data-mobile-responsive="true" data-click-to-select="true">
            <thead>
            <tr>
                <th data-field="selectItem" data-checkbox="true"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="sickLayer" style="display: none;padding:10px;">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
   <!-- <div id="progressLayer">
        <form class="form-horizontal">
            <div class="form-group" style="margin-left: 30px; ">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 90%;">
                        <span class="sr-only">90%</span>
                    </div>
                </div>
            </div>
        </form>
    </div>-->
</div>
<script src="../../js/modules/docker/ossfile.js"></script>
</body>
</html>