<html>
<head>
    <title>Login</title>
</head>
<body onload='document.f.username.focus();'>
<div id="loginForm">
    <h3>Login With Username and Password</h3>
    <div class="error">
        Incorrect username or password. Try again.
    </div>

    <form>
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' id="username" name='username' value=''/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' id="password" name='password'/></td>
            </tr>
            <tr>
                <td colspan='2'><input id="submit" name="submit" type="button" value="Login"/></td>
            </tr>
        </table>
    </form>
</div>
</body>

<script src="../libs/jquery.min.js"></script>
<script>
    alert(0);

    $('#submit').click(function () {
        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            type: 'post',
            url: 'login/checkin',
            data: $.param({username: username, password: password}),
            dataType: 'json',
            success: function (ret) {
                alert(1);
                console.log(ret);
//                location.href = 'admin/index.html';
            },
            error: function (ret) {
                alert(2);
                console.log(ret);
            }
        });
    });



</script>
</html>